body {
    background-color: pink;
}

/*https://github.com/h5bp/html5-boilerplate/blob/a20a3c76d541d40ffb75a8f02c8c0f7b05773e51/css/main.css#L127-L136*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}